.poke-logo {
  max-width: 1900px;
  width: 35%;
  display: block;
  margin: 200px auto 0;
}

p {
  width: 20%;
  margin: 100px auto 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.65);
}

.github-link {
  display: block;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

.github-link img {
  opacity: 0.4;
  height: 100px;
}

.github-link img:hover {
  opacity: 1;
}

@media screen and (max-width: 1900px) {
  .poke-logo {
    width: 40%;
  }

  p {
    width: 30%;
  }

  .github-link img {
    height: 80px;
  }
}

@media screen and (max-width: 1300px) {
  p {
    font-size: 16px;
  }

  .github-link img {
    height: 60px;
  }
}

@media screen and (max-width: 1100px) {
  .poke-logo {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .poke-logo {
    width: 85%;
    margin-top: 100px;
  }

  p {
    width: 70%;
    margin-top: 60px;
  }

}
@media screen and (max-width: 450px) {
  .poke-logo {
    width: 98%;
    margin-top: 50px;
  }

  p {
    width: 95%;
    margin-top: 30px;
  }

  .github-link {
    margin-top: 60px;
  }

  .github-link img {
    height: 50px;
  }
}
